<!--
  <select [value]="selectedItem" (change)="select($event)">
    <option [value]="opt.value" *ngFor="let opt of options">{{opt.label | trans: prefix : lang}}</option>
  </select>
-->

<div class="dropdown background-color-primary button-shadow" (click)="showItems()">

  <div class="selectedItem">{{selectedItem | trans: prefix: lang}}</div>

  <div class="arrow"><span class="oi oi-arrow-circle-bottom"></span></div>

  <div *ngIf="show" class="options">
      <div
        class="nice-dropdown-list"
        (click)="selectItem($event,opt.value)"
        *ngFor="let opt of options"
        >
        {{opt.label | trans: prefix: lang}}
      </div>
  </div>

</div>
